*{
    margin: 0px;
}

html,body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment:fixed ;
    background-position: bottom center;
    height: 100vh;
}
main{
    height: 100vh;
    position: relative;
}
#telefone{
    height: 622px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
}
#tela{
    position:relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
}
section#redes{
    text-align:right;
}
section#redes img{
    width: 50px;
    margin: 10px;
    border-radius:50%;
    box-shadow: 2px 1px 2px black;
    box-sizing: border-box;
    
}
section#redes img:hover{
    border: 2px solid white;
    transform: translate(-3px,-3px);
    transition: transform 0.3s;

}
