*{
    margin: 0px;
}

html,body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment:fixed ;
    background-position: bottom center;
    height: 100vh;
}
main{
    height: 100vh;
    position: relative;
}
#telefone{
    height: 622px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#redes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}